<footer class="ms-footer">
	<div class="grid-container">
		<div class="grid-x">
			<div class="small-12">
				<a class="ms-footer__item" href="http://go.microsoft.com/?linkid=2028325" target="_blank">Contact Us</a>
				<a class="ms-footer__item" href="http://go.microsoft.com/fwlink/?LinkId=521839" target="_blank">Privacy &amp; cookies</a>
				<a class="ms-footer__item" href="http://go.microsoft.com/fwlink/?LinkID=530144" target="_blank">Terms of use</a>
				<a class="ms-footer__item" href="http://www.microsoft.com/en-us/legal/intellectualproperty/trademarks/en-us.aspx" target="_blank">Trademarks</a>
				<span class="ms-footer__item ms-footer__item--text">&copy; Microsoft 2018</span>
			</div>
		</div>
	</div>
</footer>
