<div class="content__container content__container--stretch grid-x" id="chapter0" data-magellan-target="chapter0">
	<div class="content__cell content__cell--background cell small-12 medium-6 large-8">
		{{> image filename='start_on_tomorrow_hero' alt='Start on tomorrow – today – with Microsoft Surface'
		fullHeight='true' }}
	</div>
	<div class="content__cell cell small-12 medium-7 flex-dir-column">
		<h1 class="headline headline--h1 headline--centered headline--relative animate-wipe" data-trigger-on-load>
			<span>Start on tomorrow <br>– today – with <br>Microsoft Surface</span>
		</h1>
		<h2 class="headline headline--subHeading animate-wipe animate-wipe--delay" data-trigger-on-load>
			<span>How Surface powers your transformation to modern management</span>
		</h2>
	</div>
</div>
