.info-container {
	&__column {
		&--top-line {
			position: relative;

			&::before {
				content: "";
				display: block;
				position: relative;
				width: 50%;
				left: (100% / 6);
				height: 1px;
				background: $dark-gray;
				margin-top: rem-calc(50px);
				margin-bottom: rem-calc(50px);
			}
		}
	}

	&__justify-bottom {
		justify-content: flex-end;
		margin-top: rem-calc(55px);
	}

	.headline {
		font-weight: $font-weight-semi-bold;
		font-size: rem-calc(32px);
		line-height: (35 / 32);
	}
}
