<nav class="in-page-nav" data-trigger-on-center>
	<ul class="content__container grid-x grid-margin-x">
		<li class="content__cell cell flex-dir-column medium-3 in-page-nav__item">
			<a href="#chapter1" class="chapter-link">
				<div class="responsive-embed square in-page-nav__image">
					{{> image filename='modern_workplace_hero' alt='The modern workplace in transition' }}
					<div class="in-page-nav__number">01</div>
				</div>
				<h4 class="headline headline--h4 in-page-nav__itemHeadline">The modern workplace in transition</h4>
			</a>
		</li>
		<li class="content__cell cell flex-dir-column medium-3 in-page-nav__item in-page-nav__item--offset">
			<a href="#chapter2" class="chapter-link">
				<div class="responsive-embed square in-page-nav__image">
					{{> image filename='modern_management_hero' alt='Modern management experience' }}
					<div class="in-page-nav__number">02</div>
				</div>
				<h4 class="headline headline--h4 in-page-nav__itemHeadline">Modern management experience</h4>
			</a>
		</li>
		<li class="content__cell cell flex-dir-column medium-3 in-page-nav__item">
			<a href="#chapter3" class="chapter-link">
				<div class="responsive-embed square in-page-nav__image">
					{{> image filename='the_best_of_hero' alt='The best of Microsoft – optimized for modern management' }}
					<div class="in-page-nav__number">03</div>
				</div>
				<h4 class="headline headline--h4 in-page-nav__itemHeadline">The best of Microsoft – optimized for modern management</h4>
			</a>
		</li>
		<li class="content__cell cell flex-dir-column medium-3 in-page-nav__item in-page-nav__item--offset">
			<a href="#chapter4" class="chapter-link">
				<div class="responsive-embed square in-page-nav__image">
					{{> image filename='get_started_hero' alt='Get started' }}
					<div class="in-page-nav__number">04</div>
				</div>
				<h4 class="headline headline--h4 in-page-nav__itemHeadline">Get started</h4>
			</a>
		</li>
	</ul>
</nav>
