<nav class="main-nav main-nav--active-0" data-trigger-on-load>
	<div class="main-nav__fab"><div class="main-nav__fabIcon"></div></div>
	<div class="main-nav__content" data-magellan>
		<ul class="main-nav__list">
			<li class="main-nav__item"><a href="#chapter0" class="main-nav__link">Start on tomorrow – today – with Microsoft Surface</a></li>
			<li class="main-nav__item"><a href="#chapter1" class="main-nav__link">The modern workplace in transition</a></li>
			<li class="main-nav__item"><a href="#chapter2" class="main-nav__link">Modern management experience</a></li>
			<li class="main-nav__item"><a href="#chapter3" class="main-nav__link">The best of Microsoft – optimized for modern management</a></li>
			<li class="main-nav__item"><a href="#chapter4" class="main-nav__link">Get started</a></li>
		</ul>
	</div>
	<div class="main-nav__overlay">
		<div class="main-nav__menu-wrapper">
			<div class="main-nav__menu grid-container">
				<div class="main-nav__grid grid-x">
					<div class="main-nav__cell content__cell cell medium-7 flex-dir-column">
						<h1 class="main-nav__headline headline headline--h1">
							<a class="main-nav__link" href="#chapter0">
								Start on tomorrow <br>– today – with <br>Microsoft Surface
							</a>
						</h1>
					</div>
					<div class="main-nav__cell content__cell cell medium-7 flex-dir-column">
						<h1 class="main-nav__headline headline headline--h1">
							<a class="main-nav__link" href="#chapter1">
								The modern workplace in transition
							</a>
						</h1>
					</div>
					<div class="main-nav__cell content__cell cell medium-7 flex-dir-column">
						<h1 class="main-nav__headline headline headline--h1">
							<a class="main-nav__link" href="#chapter2">
								Modern Management Experience
							</a>
						</h1>
					</div>
					<div class="main-nav__cell content__cell cell medium-9 flex-dir-column">
						<h1 class="main-nav__headline headline headline--h1">
							<a class="main-nav__link" href="#chapter3">
								The best of Microsoft – optimized for modern management
							</a>
						</h1>
					</div>
					<div class="main-nav__cell content__cell cell medium-7 flex-dir-column">
						<h1 class="main-nav__headline headline headline--h1">
							<a class="main-nav__link" href="#chapter4">
								Get started
							</a>
						</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="main-nav__backgrounds">
			<div class="main-nav__background main-nav__background--0">{{> image filename='start_on_tomorrow_hero_blurred' alt='Start on tomorrow – today – with Microsoft Surface'}}</div>
			<div class="main-nav__background main-nav__background--1">{{> image filename='modern_workplace_hero_blurred' alt='The modern workplace in transition'}}</div>
			<div class="main-nav__background main-nav__background--2">{{> image filename='modern_management_hero_blurred' alt='Modern management experience'}}</div>
			<div class="main-nav__background main-nav__background--3">{{> image filename='the_best_of_hero_blurred' alt='The best of Microsoft – optimized for modern management'}}</div>
			<div class="main-nav__background main-nav__background--4">{{> image filename='get_started_hero_blurred' alt='Get started'}}</div>
		</div>
	</div>
</nav>
