<section class="content__container content__container--stretch grid-x">
	<div class="content__cell content__cell--background cell medium-8">
		{{> image filename='the_best_of_hero' alt='The best of Microsoft – optimized for modern management' fullHeight='true' rellax='true' }}
	</div>
	<div class="content__cell content__headline-container content__cell--relative cell medium-9 flex-dir-column">
		<span class="content__chapter-counter animate-wipe animate-wipe--fast" data-trigger-on-enter="visibilityClass">
			<span>03</span>
		</span>
		<h1 class="headline headline--h1 headline--centered animate-wipe" data-trigger-on-enter="visibilityClass">
			<span>The best of Microsoft – optimized for modern management</span>
		</h1>
	</div>
</section>

<section class="content__container grid-x">
	<div class="content__cell cell medium-10 flex-dir-column">
		<div class="content__column-container">
			<p>
				Of course, making the change to modern management isn’t always easy. You’re already invested in your
				current infrastructure, and, unfortunately, legacy IT processes and hardware continue to be the biggest
				blockers to transitioning to modern management. While Microsoft has built great management features into
				Windows 10—it is the first OS to have full mobile device management capabilities built-in, for
				example—if your device manufacturer doesn’t embrace modern management and take advantage of those
				capabilities, you can’t realize the full potential of the transformation to modern management.<br>
				Surface offers modern hardware and software that is built to take advantage of all the management
				capabilities of Windows 10. It’s reliable, secure, and easy to deploy and manage. You can use Surface to
				lead your transformation efforts so you and your organization can experience the greatest return on your
				digital transformation experience.
			</p>
		</div>
	</div>
</section>

<section class="content__container grid-x in-chapter-nav">
	<div class="content__cell cell medium-8">
		<h2 class="headline headline--h2 in-chapter-nav__headline">Let’s take a closer look at three of the modern management scenarios enabled by Microsoft Surface.</h2>
	</div>
</section>
<section class="content__container grid-x grid-margin-x in-chapter-nav" data-trigger-on-enter="visibilityClass">
	<a href="#chapter3_1" class="chapter-link content__cell cell medium-4 in-chapter-nav__cell">
		<div class="in-chapter-nav__box"><span class="in-chapter-nav__number">01</span></div>
		<div class="in-chapter-nav__text">Make deployment easy with Surface and Windows Autopilot</div>
	</a>
	<a href="#chapter3_2" class="chapter-link content__cell cell medium-4 in-chapter-nav__cell">
		<div class="in-chapter-nav__box"><span class="in-chapter-nav__number">02</span></div>
		<div class="in-chapter-nav__text">Modernize device and software configuration with Surface and Intune</div>
	</a>
	<a href="#chapter3_3" class="chapter-link content__cell cell medium-4 in-chapter-nav__cell">
		<div class="in-chapter-nav__box"><span class="in-chapter-nav__number">03</span></div>
		<div class="in-chapter-nav__text">Gain Surface insights quickly with Windows Analytics</div>
	</a>
</section>

<section class="content__container grid-x grid-margin-x">
	<div id="chapter3_1" class="content__cell cell medium-12 content__cell--full-width">
		<h3 class="headline--h3 headline--in-chapter grid-container">Make deployment easy with Surface and Windows Autopilot</h3>
	</div>
</section>

<section class="content__container grid-x">
	<div class="content__cell cell medium-10 flex-dir-column">
		<div class="content__column-container">
			<p>
				Of course, making the change to modern management isn’t always easy. You’re already invested in your
				current infrastructure, and, unfortunately, legacy IT processes and hardware continue to be the biggest
				blockers to transitioning to modern management. While Microsoft has built great management features into
				Windows 10—it is the first OS to have full mobile device management capabilities built-in, for
				example—if your device manufacturer doesn’t embrace modern management and take advantage of those
				capabilities, you can’t realize the full potential of the transformation to modern management.<br>
				Surface offers modern hardware and software that is built to take advantage of all the management
				capabilities of Windows 10. It’s reliable, secure, and easy to deploy and manage. You can use Surface to
				lead your transformation efforts so you and your organization can experience the greatest return on your
				digital transformation experience.
			</p>
		</div>
	</div>
</section>

<section class="content__container deployment">
	<div class="deployment__grid grid-x grid-margin-x mb2 xlarge-pull-6" data-trigger-on-enter="visibilityClass">
		<div class="content__cell cell xlarge-2 show-for-xlarge">
			<div class="deployment__column grid-y grid-margin-y">
				<div class="deployment__cell cell medium-4 deployment__cell--animate-1"></div>
				<div class="deployment__cell cell medium-4 deployment__cell--animate-2"></div>
				<div class="deployment__cell cell medium-4 deployment__cell--animate-3"></div>
			</div>
		</div>
		<div class="content__cell cell xlarge-2 show-for-xlarge">
			<div class="deployment__column grid-y grid-margin-y">
				<div class="deployment__cell cell medium-4 deployment__cell--animate-2"></div>
				<div class="deployment__cell cell medium-4 deployment__cell--animate-3"></div>
				<div class="deployment__cell cell medium-4 deployment__cell--animate-4"></div>
			</div>
		</div>
		<div class="content__cell cell xlarge-2 show-for-xlarge">
			<div class="deployment__column grid-y grid-margin-y">
				<div class="deployment__cell cell medium-4 deployment__cell--animate-3"></div>
				<div class="deployment__cell cell medium-4 deployment__cell--animate-4"></div>
				<div class="deployment__cell cell medium-4 deployment__cell--animate-5"></div>
			</div>
		</div>
		<div class="content__cell cell small-4 xlarge-2">
			<div class="deployment__column grid-y grid-margin-y">
				<div class="deployment__cell deployment__cell--dark cell medium-4 deployment__cell--animate-4">
					<img class="deployment__icon" src="{{root}}assets/img/icons/icon__building.svg" alt="Surface Partners" />
					<span class="deployment__text">Surface Partners</span>
				</div>
				<div class="deployment__cell deployment__cell--dark cell medium-4 deployment__cell--animate-5">
					<img class="deployment__icon deployment__icon--small" src="{{root}}assets/img/icons/icon__arrow-down.svg" alt="Ship & deliver direct to employee" />
					<span class="deployment__text">Ship & deliver direct to employee</span>
				</div>
				<div class="deployment__cell deployment__cell--dark cell medium-4 deployment__cell--animate-6">
					<img class="deployment__icon" src="{{root}}assets/img/icons/icon__present.svg" alt="Employee unboxes device, self deploys" />
					<span class="deployment__text">Employee unboxes device, self deploys</span>
				</div>
			</div>
		</div>
		<div class="content__cell cell small-4 xlarge-2">
			<div class="deployment__column grid-y grid-margin-y">
				<div class="deployment__cell cell medium-4 deployment__cell--animate-5"></div>
				<div class="deployment__cell deployment__cell--dark cell medium-4 deployment__cell--animate-6">
					<img class="deployment__icon" src="{{root}}assets/img/icons/icon__arrow-diagonal.svg" alt="Device IDs" />
					<span class="deployment__text">Device IDs</span>
				</div>
				<div class="deployment__cell deployment__cell--dark cell medium-4 deployment__cell--animate-7">
					<img class="deployment__icon" src="{{root}}assets/img/icons/icon__arrow-right-left.svg" alt="Self-deploy" />
					<span class="deployment__text">Self-deploy</span>
				</div>
			</div>
		</div>
		<div class="content__cell cell small-4 xlarge-2">
			<div class="deployment__column grid-y grid-margin-y">
				<div class="deployment__cell deployment__cell--dark cell medium-4 deployment__cell--animate-6">
					<img class="deployment__icon" src="{{root}}assets/img/icons/icon__support.svg" alt="IT Admin" />
					<span class="deployment__text">IT Admin</span>
				</div>
				<div class="deployment__cell deployment__cell--dark cell medium-4 deployment__cell--animate-7">
					<img class="deployment__icon deployment__icon--small" src="{{root}}assets/img/icons/icon__arrow-down.svg" alt="Configure Profile" />
					<span class="deployment__text">Configure Profile</span>
				</div>
				<div class="deployment__cell deployment__cell--dark cell medium-4 deployment__cell--animate-8">
					<img class="deployment__icon" src="{{root}}assets/img/icons/icon__cloud.svg" alt="Windows Autopilot deployment service" />
					<span class="deployment__text">Windows Autopilot deployment service</span>
				</div>
			</div>
		</div>
		<div class="content__cell cell small-12 xlarge-4">
			<ol class="content__list deployment__list">
				<li class="content__list-item deployment__list-item">Enroll your Surface device in Windows Autopilot at the time of purchase (with a qualifying Microsoft partner).</li>
				<li class="content__list-item deployment__list-item">Configure Windows Autopilot deployment service device profiles. The profile settings will tell the service how to configure the device.</li>
				<li class="content__list-item deployment__list-item">Have the Surface shipped directly to your employee.</li>
				<li class="content__list-item deployment__list-item">Employee unboxes device, turns it on, connects to a network, and signs in.</li>
				<li class="content__list-item deployment__list-item">The device connects to the Windows Autopilot deployment service and downloads the configuration settings.</li>
				<li class="content__list-item deployment__list-item">Windows 10 setup completes, using the Windows Autopilot profile settings, connecting to Azure AD and Microsoft Intune.</li>
				<li class="content__list-item deployment__list-item">Once connected to Azure AD and Intune, the device downloads and implements additional policies and configuration settings from Intune, including app installation.</li>
			</ol>
		</div>
		<div class="content__cell cell xlarge-2 show-for-xlarge">
			<div class="deployment__column grid-y grid-margin-y">
				<div class="deployment__cell cell medium-4 deployment__cell--animate-7"></div>
				<div class="deployment__cell cell medium-4 deployment__cell--animate-8"></div>
				<div class="deployment__cell cell medium-4 deployment__cell--animate-9"></div>
			</div>
		</div>
		<div class="content__cell cell xlarge-2 show-for-xlarge">
			<div class="deployment__column grid-y grid-margin-y">
				<div class="deployment__cell cell medium-4 deployment__cell--animate-8"></div>
				<div class="deployment__cell cell medium-4 deployment__cell--animate-9"></div>
				<div class="deployment__cell cell medium-4 deployment__cell--animate-10"></div>
			</div>
		</div>
		<div class="content__cell cell xlarge-2 show-for-xlarge">
			<div class="deployment__column grid-y grid-margin-y">
				<div class="deployment__cell cell medium-4 deployment__cell--animate-9"></div>
				<div class="deployment__cell cell medium-4 deployment__cell--animate-10"></div>
				<div class="deployment__cell cell medium-4 deployment__cell--animate-11"></div>
			</div>
		</div>
	</div>
</section>

<section class="content__container content__container--stretch grid-x">
	<div class="content__cell content__cell--background cell medium-6">
		{{> image filename='the_best_of_img1' alt='Surface and Microsoft 365 – better together' fullHeight='true' }}
	</div>
	<div class="content__cell cell medium-5 flex-dir-column align-center">
		<h3 class="headline headline--h3">Configuring Autopilot with Intune</h3>
		<p>For most organizations making the transition from traditional device management to modern device management, you will want to use Intune to manage Surface devices. This includes managing device deployments with Windows Autopilot.</p>
		<h3 class="headline headline--h3 headline--top-margin">Configuring Autopilot with Microsoft Store for Business</h3>
		<p>You can also configure and manage Windows Autopilot profiles from the Microsoft Store for Business. This is a good option for organizations that have not started adopting Intune yet. It’s also a good option when you are working with a partner for device fulfillment and are not giving that partner access to your Intune environment.</p>
	</div>
</section>

<section class="content__container grid-x togglebox" id="partner-opportunities" data-toggler=".togglebox--open">
	<div class="content__cell cell medium-7 flex-dir-column">
		<div class="togglebox__title" data-toggle="partner-opportunities"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.72 24.72"><rect x="0" y="10.9" width="24.72" height="3" style="fill:#fff" class="togglebox__icon togglebox__icon--minus"></rect><rect x="10.9" y="0" width="3" height="24.72" style="fill:#fff" class="togglebox__icon togglebox__icon--plus"></rect></svg><span class="togglebox__title-text">Partner opportunities with Windows Autopilot</span></div>
		<div class="togglebox__content" >
			<p>As a Microsoft partner, you can administer Windows Autopilot for your clients, including device hardware IDs. Some Surface partners are enabled for Windows Autopilot and can enroll devices directly for you or your customers. Check for the most current list of Surface partners.</p>
			<p>If you are not purchasing Surfaces through one of these partners for your clients, you can still register the Surfaces your clients purchase for them. You can configure Autopilot for your clients, and upload Surface hardware IDs within Intune, Microsoft Store for Business, or Partner Center.</p>
		</div>
	</div>
</section>

<section class="content__container grid-x grid-margin-x">
	<div id="chapter3_2" class="content__cell cell medium-12 content__cell--full-width">
		<h3 class="headline--h3 headline--in-chapter grid-container">Modernize device and software configuration with Surface and Intune</h3>
	</div>
	<div class="content__cell content__cell--top-margin cell medium-6 medium-offset-2">
		<p>
			Intune is the tool of choice for configuring your Surface. It provides a platform that you can use to manage
			Surface and many other modern devices, including those running Windows, Android, iOS, and Mac operating
			systems. Intune lets you manage employee-owned devices as well as corporate-owned devices, which makes it
			the perfect tool for transitioning to modern management. With Intune, you can manage the following Surface
			device settings directly:
		</p>
	</div>
</section>

<section class="content__container device-settings">
	<div class="device-settings__wrapper device-settings__wrapper--desktop grid-x grid-margin-x" data-trigger-on-enter="visibilityClass">
		<div class="content__cell cell medium-3">
			<div class="grid-y grid-margin-y device-settings__column">
				<div class="device-settings__cell device-settings__cell-offset device-settings__cell-offset--1 device-settings__cell--animate-1 cell medium-2">
					<img class="device-settings__icon" src="{{root}}assets/img/icons/icon__keys.svg" alt="Certificates" />
					<span class="device-settings__text">Certificates</span>
				</div>
				<div class="device-settings__cell device-settings__cell-offset device-settings__cell--animate-1 cell medium-2">
					<img class="device-settings__icon" src="{{root}}assets/img/icons/icon__lock.svg" alt="BitLocker" />
					<span class="device-settings__text">BitLocker</span>
				</div>
			</div>
		</div>
		<div class="content__cell cell medium-3">
			<div class="grid-y grid-margin-y device-settings__column">
				<div class="device-settings__cell device-settings__cell-offset device-settings__cell-offset--2 device-settings__cell--animate-2 cell medium-2">
					<img class="device-settings__icon" src="{{root}}assets/img/icons/icon__send.svg" alt="Email" />
					<span class="device-settings__text">Email</span>
				</div>
				<div class="device-settings__cell device-settings__cell--animate-2 cell medium-2">
					<img class="device-settings__icon" src="{{root}}assets/img/icons/icon__security.svg" alt="Windows security baselines" />
					<span class="device-settings__text">Windows security baselines</span>
				</div>
			</div>
		</div>
		<div class="content__cell cell medium-3">
			<div class="grid-y grid-margin-y device-settings__column">
				<div class="device-settings__cell device-settings__cell-offset device-settings__cell-offset--1 device-settings__cell--animate-3 cell medium-2">
					<img class="device-settings__icon" src="{{root}}assets/img/icons/icon__settings.svg" alt="Update Settings" />
					<span class="device-settings__text">Update Settings</span>
				</div>
				<div class="device-settings__cell device-settings__cell--animate-3 cell medium-2">
					<img class="device-settings__icon" src="{{root}}assets/img/icons/icon__devices.svg" alt="Device features" />
					<span class="device-settings__text">Device features</span>
				</div>
			</div>
		</div>
		<div class="content__cell cell medium-3">
			<div class="grid-y grid-margin-y device-settings__column">
				<div class="device-settings__cell device-settings__cell-offset device-settings__cell-offset--0 device-settings__cell--animate-4 cell medium-2">
					<img class="device-settings__icon" src="{{root}}assets/img/icons/icon__vpn.svg" alt="VPN Connections" />
					<span class="device-settings__text">VPN connections</span>
				</div>
				<div class="device-settings__cell device-settings__cell--animate-4 cell medium-2">
					<img class="device-settings__icon" src="{{root}}assets/img/icons/icon__wifi.svg" alt="Wi-fi connections" />
					<span class="device-settings__text">Wi-fi connections</span>
				</div>
			</div>
		</div>
	</div>

	<div class="device-settings__wrapper device-settings__wrapper--mobile grid-x grid-margin-x">
		<div class="device-settings__cell content__cell cell small-6">
			<img class="device-settings__icon" src="{{root}}assets/img/icons/icon__keys.svg" alt="Certificates" />
			<span class="device-settings__text">Certificates</span>
		</div>
		<div class="device-settings__cell content__cell cell small-6">
			<img class="device-settings__icon" src="{{root}}assets/img/icons/icon__lock.svg" alt="BitLocker" />
			<span class="device-settings__text">BitLocker</span>
		</div>
		<div class="device-settings__cell content__cell cell small-6">
			<img class="device-settings__icon" src="{{root}}assets/img/icons/icon__send.svg" alt="Email" />
			<span class="device-settings__text">Email</span>
		</div>
		<div class="device-settings__cell content__cell cell small-6">
			<img class="device-settings__icon" src="{{root}}assets/img/icons/icon__security.svg" alt="Windows security baselines" />
			<span class="device-settings__text">Windows security baselines</span>
		</div>
		<div class="device-settings__cell content__cell cell small-6">
			<img class="device-settings__icon" src="{{root}}assets/img/icons/icon__settings.svg" alt="Update Settings" />
			<span class="device-settings__text">Update Settings</span>
		</div>
		<div class="device-settings__cell content__cell cell small-6">
			<img class="device-settings__icon" src="{{root}}assets/img/icons/icon__devices.svg" alt="Device features" />
			<span class="device-settings__text">Device features</span>
		</div>
		<div class="device-settings__cell content__cell cell small-6">
			<img class="device-settings__icon" src="{{root}}assets/img/icons/icon__vpn.svg" alt="VPN Connections" />
			<span class="device-settings__text">VPN connections</span>
		</div>
		<div class="device-settings__cell content__cell cell small-6">
			<img class="device-settings__icon" src="{{root}}assets/img/icons/icon__wifi.svg" alt="Wi-fi connections" />
			<span class="device-settings__text">Wi-fi connections</span>
		</div>
	</div>

</section>

<section class="content__container grid-x grid-margin-x">
	<div class="content__cell content__cell--top-margin content__cell--bottom-margin cell medium-6 medium-offset-2">
		<p>
			In fact, because Surface is the premier platform for Windows features such as Windows Hello, you get the most complete cloud management experience with Intune and Surface. For applications, Intune’s ability to configure Windows Information Protection (WIP) policies combined with Azure AD, and capabilities built into various devices make this possible to protect your data, even if the Surface device you are managing is personally owned.<br><br>
			Deep integration between Intune, Surface, Windows 10, and Office 365 gives you even more control. For example, you can configure custom suites of Office 365 apps, choose how and when those apps are updated, and even decide which apps are mandatory. You can also remotely wipe Intune managed devices completely, lock them, or reset passcodes – protecting data in case a device is lost or stolen.  Or, you can use Fresh start to remove all applications and install the latest version of Windows.
		</p>
	</div>
</section>

<section class="content__container content__container--stretch grid-x">
	<div class="content__cell content__cell--background cell medium-5 large-6">
		{{> image filename='the_best_of_img2' alt='Designed for the modern workplace' fullHeight='true' rellax='true' }}
	</div>
	<div class="content__cell cell medium-6 large-5 flex-dir-column align-center">
		<h3 class="headline headline--h3">Manage and update Surface firmware simply</h3>
		<p>Historically, managing device firmware settings has been difficult. If any configuration and management option was provided at all, it was custom OEM-provided software. For Surface, however, Surface Enterprise Management Mode (SEMM) allows you to configure firmware settings on Surface devices with Surface unified extensible firmware interface (UEFI) firmware, which is a replacement for BIOS.</p>
		<p>SEMM allows you to manage firmware settings using either the Surface UEFI Configurator or with System Center Configuration Manager (Config Manager). You can use the Surface UEFI Configurator to create .msi packages to deploy and administer SEMM using Config Manager. You can also manage SEMM using Config Manager with Windows PowerShell scripts if you install the lightweight Microsoft Surface UEFI Manager on your Surface devices.</p>
	</div>
</section>

<section class="content__container grid-x grid-margin-x info-container show-for-medium">
	<div class="content__cell cell medium-6 flex-dir-column info-container__justify-bottom">
		<h3 class="headline headline--h3">Firmware updates with Windows Update for Business</h3>
	</div>
	<div class="content__cell cell medium-6 flex-dir-column info-container__justify-bottom">
		<h3 class="headline headline--h3">What if I’m not quite ready to go fully modern and have my devices receive Surface firmware or other updates directly?</h3>
	</div>
</section>

<section class="content__container grid-x grid-margin-x info-container">
	<div class="content__cell cell small-12 flex-dir-column info-container__justify-bottom show-for-small-only">
		<h3 class="headline headline--h3">Firmware updates with Windows Update for Business</h3>
	</div>
	<div class="content__cell cell medium-6 flex-dir-column">
		<p>Surface also makes firmware updates simple to manage. Microsoft delivers Surface firmware updates using Windows Update and Windows Update for Business. If you currently use Windows Server Update Services (WSUS) for other devices and don’t want to switch to Windows Update across the board, just exclude your Surface devices from the Group Policy that directs devices to receive updates from WSUS.</p>
	</div>
	<div class="content__cell cell small-12 flex-dir-column info-container__justify-bottom show-for-small-only">
		<h3 class="headline headline--h3">What if I’m not quite ready to go fully modern and have my devices receive Surface firmware or other updates directly?</h3>
	</div>
	<div class="content__cell cell medium-6 flex-dir-column">
		<p>As you make the transition to modern management, you may not be ready to let your Surface devices receive firmware and other updates directly. There are some disadvantages to doing so—updates are downloaded directly by each device instead of from a central location, increasing demand on your network, and updates are not subject to review and testing by your administrative team. In that case, you can take the traditional approach and deploy firmware updates with the Microsoft Deployment Toolkit (MDT), Configuration Manager, or Intune.</p>
	</div>
</section>

<section class="content__container grid-x grid-margin-x info-container">
	<div class="content__cell cell medium-6 flex-dir-column info-container__column info-container__column--top-line">
		<h3 class="headline headline--h3">Faster system updates<br>One-third the downtime for updates.</h3>
		<p>Surface customers experience faster system updates than other users.  When upgrading to Windows 10 RS4, the average upgrade downtime was under 33 minutes—a 37% reduction from the RS3 upgrade. For Surface devices, with their solid state drive (SSD), the downtime was less than 10 minutes.</p>
	</div>
</section>

<section class="content__container grid-x togglebox" id="intune-opportunities" data-toggler=".togglebox--open">
	<div class="content__cell cell medium-7 flex-dir-column">
		<div class="togglebox__title" data-toggle="intune-opportunities"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.72 24.72"><rect x="0" y="10.9" width="24.72" height="3" style="fill:#fff" class="togglebox__icon togglebox__icon--minus"></rect><rect x="10.9" y="0" width="3" height="24.72" style="fill:#fff" class="togglebox__icon togglebox__icon--plus"></rect></svg><span class="togglebox__title-text">Partner opportunities with Intune</span></div>
		<div class="togglebox__content" >
			<p>Microsoft Intune lets your customers use the devices and applications they love while configuring device settings to meet compliance needs. You can also manage their devices from the cloud or while connected to an existing Configuration Manager infrastructure. Microsoft Intune lets you manage devices in a flexible way that’s best for you and your customers.</p>
			<p>You’ll need to make sure that your customers have an Intune subscription, their Surface devices are connected to their Azure AD tenant, and that you’ve been given delegated admin privileges (DAP) in Intune.</p>
		</div>
	</div>
</section>

<section class="content__container grid-x grid-margin-x">
	<div id="chapter3_3" class="content__cell cell medium-12 content__cell--full-width">
		<h3 class="headline--h3 headline--in-chapter grid-container">Gain Surface insights quickly with Windows Analytics</h3>
	</div>
	<div class="content__cell content__cell--top-margin cell medium-6 medium-offset-1">
		<p>
			Windows Analytics is a set of solutions that run as part of Microsoft Operations Management Suite (OMS). The solutions help you gain insights about the current state of your Windows environment, including your Surface devices.<br><br>Windows Analytics enables you to monitor:
		</p>
	</div>
</section>


<section class="content__container content__container--stretch content__container--stretch-small grid-x">
	<div class="content__cell content__cell--background content__cell--background-rightAligned cell medium-8">
		{{> image filename='the_best_of_img3' alt='Monitor Surface health' fullHeight='true' rellax='true' }}
	</div>
	<div class="content__cell cell medium-6 flex-dir-column align-upper-half">
		<h3 class="headline headline--h3 headline--h3-large">Monitor Surface health</h3>
		<p>Identify problem devices and configurations, including misconfigured WIP policies with Device Health in Windows Analytics.</p>
	</div>
</section>


<section class="content__container content__container--stretch content__container--stretch-small grid-x">
	<div class="content__cell content__cell--background content__cell--background-rightAligned cell medium-8">
		{{> image filename='the_best_of_img4' alt='Surface update compliance' fullHeight='true' rellax='true' }}
	</div>
	<div class="content__cell cell medium-6 flex-dir-column align-upper-half">
		<h3 class="headline headline--h3 headline--h3-large">Surface update compliance</h3>
		<p>Inventory Surface (and other) devices and verify their update status with Update Compliance in Windows Analytics.</p>
	</div>
</section>


<section class="content__container content__container--stretch content__container--stretch-small grid-x">
	<div class="content__cell content__cell--background content__cell--background-rightAligned cell medium-8">
		{{> image filename='the_best_of_img5' alt='Surface and application upgrade readiness' fullHeight='true' rellax='true' }}
	</div>
	<div class="content__cell cell medium-6 flex-dir-column align-upper-half">
		<h3 class="headline headline--h3 headline--h3-large">Surface and application upgrade readiness</h3>
		<p>Inventory both your Surface devices and their applications and identify possible compatibility issues with Windows Analytics Upgrade Readiness.</p>
	</div>
</section>

<section class="content__container grid-x togglebox togglebox--top-line" id="analytics-opportunities" data-toggler=".togglebox--open">
	<div class="content__cell cell medium-7 flex-dir-column">
		<div class="togglebox__title" data-toggle="analytics-opportunities"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.72 24.72"><rect x="0" y="10.9" width="24.72" height="3" style="fill:#fff" class="togglebox__icon togglebox__icon--minus"></rect><rect x="10.9" y="0" width="3" height="24.72" style="fill:#fff" class="togglebox__icon togglebox__icon--plus"></rect></svg><span class="togglebox__title-text">Partner opportunities with Windows Analytics</span></div>
		<div class="togglebox__content" >
			<p>If you are a Microsoft Partner, making Windows Analytics a part of your service offerings can help you monitor your clients’ Surface devices in a cost-effective manner. Windows Analytics capabilities are available for free as part of OMS—just pay for the data storage fees.</p>
		</div>
	</div>
</section>
