<section class="content__container content__container--stretch grid-x">
	<div class="content__cell content__cell--background cell medium-8">
		{{> image filename='modern_workplace_hero' alt='The modern workplace in transition' fullHeight='true' rellax='true' }}
	</div>
	<div class="content__cell content__headline-container content__cell--relative cell medium-7 flex-dir-column">
		<span class="content__chapter-counter animate-wipe animate-wipe--fast" data-trigger-on-enter="visibilityClass">
			<span>01</span>
		</span>
		<h1 class="headline headline--h1 headline--centered animate-wipe" data-trigger-on-enter="visibilityClass">
			<span>The modern workplace in transition</span>
		</h1>
	</div>
</section>

<section class="content__container grid-x">
	<div class="content__cell cell medium-10 flex-dir-column">
		<div class="content__column-container">
			<p>
				The modern workplace is in the middle of a transition—a digital transformation—where your organization, your
				users, and your customers are more connected and mobile than ever. Successfully navigating this digital
				transformation is likely one of your highest priorities. You need to help your organization create a modern
				workplace where employees can use innovative devices to engage customers and collaborate with partners;
				where they (and you) can optimize operations, improve security, and transform your products. However, you
				face incredible challenges in creating that modern workplace. Employees now expect access to productivity
				and collaboration tools anytime and anywhere. Your on-premises environment has become more complex than
				ever, especially as you extend that environment to the cloud. Your tried-and-true tools and processes
				struggle to keep up with your changing needs. The challenges are not just internal. You’re also facing more
				external threats, from cannier bad guys and competitors that are always setting the bar higher.
			</p>
			<p>
				You can address these challenges and begin your transition to a modern workplace and a modern desktop
				when you adopt Microsoft Surface and modern management. A modern desktop includes Windows 10, the
				operating system designed for a modern desktop; Office 365 ProPlus, the latest and most secure suite of
				productivity apps and services; and Microsoft Enterprise Mobility + Security (EMS), the simplest solution
				for managing devices and keeping them up to date.
			</p>
			<p>
				A modern desktop is the most productive, most secure desktop environment with the lowest total cost of
				ownership (TCO). Because it’s built for a modern desktop, Surface amplifies the benefits of moving to a
				modern desktop. In fact, it’s the best device for achieving your modern desktop goals.
			</p>
		</div>
	</div>
</section>

<section class="content__container content__container--stretch content__container--content-right grid-x">
	<div class="content__cell content__cell--background-left cell medium-6">
		{{> image filename='modern_workplace_img1' alt='Surface and Microsoft 365 – better together' fullHeight='true' rellax='true' }}
	</div>
	<div class="content__cell cell medium-5 flex-dir-column align-center">
		<h2 class="headline headline--h2 headline--top-line">Surface and Microsoft 365 – better together</h2>
		<p>Microsoft 365 makes adopting a modern desktop simple by including everything you need – Windows 10, Office 365 ProPlus, and EMS – in a complete, intelligent solution. And a recent study as shown that Surface is the best device for Microsoft 365.<sup>1</sup></p>
		<p>Sources <span data-tooltip data-allow-html="true" class="bottom" data-position="bottom" data-click-open="true" title="<sup>1</sup> The Total Economic Impact™ Of The Modern Desktop With Microsoft 365, a commissioned Total Economic Impact™ study conducted by Forrester Consulting, July 2018.">i</span></p>
	</div>
</section>

<section class="content__container grid-x breach-reduction">
	<div class="content__cell cell medium-8">
		<h2 class="headline headline--h2 breach-reduction__headline">Surface amplifies the benefits of a modern desktop</h2>
	</div>
	<div class="content__cell cell medium-12">
		<h2 class="headline headline--h3 breach-reduction__sub-headline">Reduction in security breaches</h2>
	</div>
	<div class="content__cell cell medium-6">
		<div class="breach-reduction__progress-bar breach-reduction__progress-bar--2-active" data-trigger-on-enter="visibilityClass">
			<div class="breach-reduction__progress-item"></div>
			<div class="breach-reduction__progress-item"></div>
			<div class="breach-reduction__progress-item"></div>
			<div class="breach-reduction__progress-item"></div>
			<div class="breach-reduction__progress-item"></div>
			<div class="breach-reduction__progress-item"></div>
			<div class="breach-reduction__progress-item"></div>
			<div class="breach-reduction__progress-item"></div>
			<div class="breach-reduction__progress-item"></div>
			<div class="breach-reduction__progress-item"></div>
		</div>
	</div>
	<div class="content__cell cell medium-5 breach-reduction__progress-label" data-trigger-on-enter="visibilityClass">
		<span class="breach-reduction__headline"><span data-trigger-on-enter="countUpDelay" data-count-up-duration="1.6">20</span>%</span>
		<span class="breach-reduction__progress-text">Microsoft 365 alone<sup>2</sup></span>
	</div>
	<div class="content__cell cell medium-6">
		<div class="breach-reduction__progress-bar breach-reduction__progress-bar--alternative breach-reduction__progress-bar--5-active" data-trigger-on-enter="visibilityClass">
			<div class="breach-reduction__progress-item"></div>
			<div class="breach-reduction__progress-item"></div>
			<div class="breach-reduction__progress-item"></div>
			<div class="breach-reduction__progress-item"></div>
			<div class="breach-reduction__progress-item"></div>
			<div class="breach-reduction__progress-item"></div>
			<div class="breach-reduction__progress-item"></div>
			<div class="breach-reduction__progress-item"></div>
			<div class="breach-reduction__progress-item"></div>
			<div class="breach-reduction__progress-item"></div>
		</div>
	</div>
	<div class="content__cell cell medium-5 breach-reduction__progress-label" data-trigger-on-enter="visibilityClass">
		<span class="breach-reduction__headline"><span data-trigger-on-enter="countUpDelay" data-count-up-duration="4">50</span>%</span>
		<span class="breach-reduction__progress-text">Microsoft 365 Enterprise with Surface<sup>3</sup></span>
	</div>
	<div class="content_cell cell medium-12">
		<p>Sources <span data-tooltip data-allow-html="true" data-alignment="left" class="bottom" data-position="bottom" data-click-open="true" title="<sup>2</sup> Results are for a composite organization based on interviewed customers. The Total Economic Impact™ Of The Modern Desktop With Microsoft 365, a commissioned Total Economic Impact™ study conducted by Forrester Consulting, July 2018.<br><br><sup>3</sup> Results are for a composite organization based on interviewed customers. Maximizing Your ROI From Microsoft 365 Enterprise With Microsoft Surface, a commissioned Total Economic Impact™ study conducted by Forrester Consulting, May 2018">i</span></p>
	</div>
</section>

<section class="content__container content__container--stretch grid-x">
	<div class="content__cell content__cell--background cell medium-6">
		{{> image filename='modern_workplace_img2' alt='Designed for the modern workplace' fullHeight='true' rellax='true' }}
	</div>
	<div class="content__cell cell medium-5 flex-dir-column align-center">
		<h3 class="headline headline--h3">Designed for the modern workplace</h3>
		<p>Microsoft Surface prepares you for tomorrow. Surface equips you with tools to stay competitive, manage change, and leverage the latest technologies. It inspires your employees to do great things by enabling them to work naturally with premium devices. When you want Surface is the choice when you expect seamlessly connected hardware, software, apps, and services. Surface helps everything work together.</p>
		<p>This includes built-in support for simplified modern management.</p>
	</div>
</section>

<section class="content__container grid-x benefits">
	<div class="content__cell cell medium-8">
		<h2 class="headline headline--h2 benefits__headline">Benefits of moving to Surface and Microsoft 365</h2>
	</div>
	<div class="content__cell cell medium-12">
		<h3 class="headline headline--h3 benefits__sub-headline">Reduce Costs</h3>
	</div>
	<div class="content__cell cell medium-7 benefits__login" data-trigger-on-enter="visibilityClass">
		<div class="benefits__input">
			<div class="benefits__icon"><img class="benefits__icon-image" src="{{root}}assets/img/icons/icon__user.svg" alt="Username" /></div>
			<div class="benefits__input-content">
				<span class="benefits__placeholder"></span>
				<span class="benefits__placeholder"></span>
				<span class="benefits__placeholder"></span>
				<span class="benefits__placeholder"></span>
				<span class="benefits__placeholder"></span>
				<span class="benefits__placeholder"></span>
				<span class="benefits__placeholder"></span>
				<span class="benefits__placeholder"></span>
				<span class="benefits__placeholder"></span>
				<span class="benefits__placeholder"></span>
			</div>
		</div>
		<div class="benefits__input benefits__input--password" data-trigger-on-enter="visibilityClass">
			<div class="benefits__icon"><img class="benefits__icon-image" src="{{root}}assets/img/icons/icon__lock.svg" alt="Password" /></div>
			<div class="benefits__input-content">
				<span class="benefits__placeholder"></span>
				<span class="benefits__placeholder"></span>
				<span class="benefits__placeholder"></span>
				<span class="benefits__placeholder"></span>
				<span class="benefits__placeholder"></span>
				<span class="benefits__placeholder"></span>
				<span class="benefits__placeholder"></span>
				<span class="benefits__placeholder"></span>
				<span class="benefits__placeholder"></span>
				<span class="benefits__placeholder"></span>
			</div>
		</div>
	</div>
	<div class="content__cell cell medium-4 benefits__aside" data-trigger-on-enter="visibilityClass">
		<div class="benefits__box">
			<span class="benefits__headline"><span data-trigger-on-enter="countUpDelay">86</span>%</span>
			<p class="benefits__copy">Reduction in password reset<br>requests</p>
		</div>
		<div class="benefits__box">
			<ul class="benefits__list">
				<li class="benefits__list-item">15 % reduction on application performance-related tickets</li>
				<li class="benefits__list-item">2.5 hours saved per application provisioning request</li>
				<li class="benefits__list-item">25 minutes saved configuring each device</li>
			</ul>
		</div>
	</div>
	<div class="content__cell cell medium-12">
		<h3 class="headline headline--h3 benefits__sub-headline">Free up time for other investments</h3>
	</div>
	<div class="content__cell cell medium-4" data-trigger-on-enter="visibilityClass">
		<div class="benefits__box benefits__box--right-margin">
			<span class="benefits__headline"><span data-trigger-on-enter="countUp">45</span>%</span>
			<p class="benefits__copy">less time spent in application provisioning</p>
		</div>
	</div>
	<div class="content__cell cell medium-4" data-trigger-on-enter="visibilityClass">
		<div class="benefits__box benefits__box--right-margin">
			<span class="benefits__headline"><span data-trigger-on-enter="countUp">70</span>%</span>
			<p class="benefits__copy">less time testing applications
			</p>
		</div>
	</div>
	<div class="content__cell cell medium-12">
		<h3 class="headline headline--h3 benefits__sub-headline">Improve end user experience</h3>
	</div>
	<div class="content__cell cell medium-7 benefits__book" data-trigger-on-enter="visibilityClass">
		<div class="benefits__text-container">
			<div class="benefits__text-line"></div>
			<div class="benefits__text-line"></div>
			<div class="benefits__text-line"></div>
			<div class="benefits__text-line"></div>
			<div class="benefits__text-line"></div>
			<div class="benefits__text-line"></div>
		</div>
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 840.37 460" class="benefits__book-image">
			<rect width="840.37" height="431.44" y="28.56" fill="#505050"></rect>
			<path fill="#e6e6e6" d="M419.56 441.09s12.43-17 39.9-17l344.91-.09V0L459.46.13c-27.47 0-39.9 17-39.9 17z"></path>
			<path fill="#f3f3f3" d="M419.56 441.09s-12.42-17-39.9-17L34.75 424V0l344.91.13c27.48 0 39.9 17 39.9 17z"></path>
		</svg>
	</div>
	<div class="content__cell cell medium-4 benefits__aside" data-trigger-on-enter="visibilityClass">
		<div class="benefits__box">
			<span class="benefits__headline"><span data-trigger-on-enter="countUp">76</span>%</span>
			<p class="benefits__copy">of organizations say Microsoft 365 and Surface devices have helped improve retention</p>
		</div>
		<div class="benefits__box">
			<ul class="benefits__list">
				<li class="benefits__list-item">75% of organizations agree that Microsoft 365 powered Surface devices improve employee satisfaction</li>
				<li class="benefits__list-item">71% of organizations agree that Microsoft 365 powered Surface devices position them as a top employer</li>
			</ul>
		</div>
	</div>
</section>
