<section class="content__container content__container--stretch grid-x">
	<div class="content__cell content__cell--background cell medium-8">
		{{> image filename='modern_management_hero' alt='Modern Management Experience' fullHeight='true' rellax='true' }}
	</div>
	<div class="content__cell content__headline-container content__cell--relative cell medium-7 flex-dir-column">
		<span class="content__chapter-counter animate-wipe animate-wipe--fast" data-trigger-on-enter="visibilityClass">
			<span>02</span>
		</span>
		<h1 class="headline headline--h1 headline--centered animate-wipe" data-trigger-on-enter="visibilityClass">
			<span>Modern Management Experience</span>
		</h1>
	</div>
</section>

<section class="content__container grid-x">
	<div class="content__cell cell medium-10 flex-dir-column">
		<div class="content__column-container">
			<p>
				Let’s review what we mean by modern management. We can start by describing traditional IT management.
				Traditional management assumes every device you manage is owned by the organization and is connected to
				your on-premises network. You have some control over the available device options to help you manage the
				time and costs of creating custom OS images for the devices you support and to help you ensure a good
				end user experience. You use Group Policy to lock down how each user operates the single device assigned
				to them. Meanwhile, you struggle to keep up with growing security threats and the increasing speed with
				which operating systems and application software change. As a result, you are always reacting instead of
				being proactive. You want to act on strategic initiatives that add value to your organization instead of
				spending time on tasks and processes that could be automated with the cloud.
			</p>
			<p>
				You’re hearing about it from your users, too. They’re now accustomed to the smart phone and app model of
				devices and software, with continuously introduced new capabilities and their choice of easy, intuitive
				devices and apps. They expect to bring their own devices from home and work from a variety of devices.
				When you provide them with a device, they want the startup experience to feel just as seamless as when
				they open the box for a phone or tablet they bought for personal use. They want more self-service
				options and the ability to help each other. They don’t want to have to adapt their workstyle to the
				technology you provide—they want the technology to adapt to their workstyle.
			</p>
			<p>
				Modern management embraces your users’ needs and the changing environment. You can not only handle the
				fact that users have multiple devices, but you can also quickly get their new devices up-and-running
				with minimal interaction from your team. Setup is automatic and self-serviced. Updates are quick and
				painless for both your team and your users. You can also easily manage devices from the cloud-based
				services, wherever the devices are physically located. Modern management is the foundation of the modern
				workplace. By adopting new approaches to IT management, including cloud technologies, you can simplify
				management, improve security, and provide better user experiences while lowering TCO.
			</p>
		</div>
	</div>
</section>
