<section class="content__container content__container--stretch grid-x">
	<div class="content__cell content__cell--background cell medium-8">
		{{> image filename='get_started_hero' alt='Get started' fullHeight='true' rellax='true' }}
	</div>
	<div class="content__cell content__headline-container content__cell--relative cell medium-7 flex-dir-column">
		<span class="content__chapter-counter animate-wipe animate-wipe--fast" data-trigger-on-enter="visibilityClass">
			<span>04</span>
		</span>
		<h1 class="headline headline--h1 headline--centered animate-wipe" data-trigger-on-enter="visibilityClass">
			<span>Get started</span>
		</h1>
	</div>
</section>

<section class="content__container grid-x get-started">
	<div class="content__cell cell medium-10 flex-dir-column">
		<div class="content__column-container">
			<p>
				Surface is designed for the best of Microsoft software—Office, Windows, Microsoft Edge, and Microsoft OneDrive. Because Surface hardware and Microsoft software are built together, your users get a streamlined Office experience. The true power of professional-grade software lets you collaborate with your teams from anywhere and streamline real-time collaborations. Surface reliability and security make sure you don’t skip a beat. You can defend your organization and prevent security breaches by enforcing more secure sign-ins with support for advanced security features built in to Windows.<br><br>
				And possibly more important to you, Surface devices are easy to deploy and manage, making modern management and getting ready for tomorrow easier. With Surface, you can tackle deployment requirements with simplified rollouts, durable hardware, and predictable device costs. Surface integrates seamlessly into your organization, offering easy deployment, management, and procurement. You can also move procurement from a capital expense to an operational expense with Surface as a Service (SaaS). Get the latest devices, software, accessories, services, and support on a cost-predictable, regular subscription basis. You can also secure and manage firmware settings within your organization with SEMM and stay up-to-date on security features with the latest Windows 10 updates.<br><br>
				With Microsoft Surface, you can stay competitive, manage change, and leverage the latest technology advancements so you’re ready for what’s next. Get the assurances of a trusted brand that has consistently delivered industry-leading innovation and is committed to powering future experiences.
				<strong class="get-started__callout">Surface devices are easy to deploy and manage, making getting ready for tomorrow and modern management easier.</strong>
			</p>
		</div>
	</div>
</section>
